/********************************************************************************
*          Element-Level                                                        *
********************************************************************************/
body {
  margin: 0;
  background-color: #DDC79C;
}
li table fieldset{
  font-family: Arial, Helvetica, sans-serif;
}

h1 h2 p {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  text-align: center;
}

p {
  font-size: 1.1em;
}

h1 {
  font-size: 3em;
  text-align: center;
}

header {
  background-color:white;
  margin: 0px;
  margin: auto;
  text-align: center;
}

table {
  border: 3px solid black;
  background-color: white;
  border-collapse: collapse;
}

td {
  border: 1px solid black;
  background-color: white;
  padding: 0 1em 0 1em;
}

th {
  background-color: #FC8B8B;
}

label { 
  display: block
}

main {
  max-width: 960px;
  margin: auto;
}

footer {
  background-color: #FCC0C0;
  height: 200px;
  clear:both;
}

footer section {
  float: left;
  margin: 0 7% 0 7%;
}

footer p {
  font-size: 1em;
  line-height: 0.25em;
}

main article:last-of-type {
  margin-bottom: 3em;
}

/********************************************************************************
*          ID/Class/Specific                                                    *
********************************************************************************/

.navbar {
  background-color: #BB7B28;
  padding: 0.75em 0em 0.75em 0em;
  
}

.navbar>li:hover {
  background-color:#DDC79C
}

.navbar>li {
  display: inline;
  list-style-type: none;
  font-family: 'Oswald', sans-serif;
  font-size: 1.5em;
  margin: 1.5em 2.5em 0em 2.5em;
  background-color:white;
  padding: 0.1em 1em 0.1em 1em;
  border-radius: 5px;
}

li>a {
  text-decoration: none;
}

#salmonCookieStands th {
  background-color: #FC8B8B;
  color:white;
  border: 1px solid 
}

tr :last-child{
  background-color: #DDC79C;
}

.subTotal{
  background-color: #DDC79C;
}

#grandTotal{
  background-color: #BB7B28;
}

tr>th:first-of-type {
  margin: 0 1.5em 0 1.5em;
}


/********************************************************************************
*          Images                                                               *
********************************************************************************/

.salmon {
  float:left;
  max-height: 1.5em;
  margin-left: 3em;
}

.chinook {
  float:right;
  max-height: 1.5em; 
  margin-right: 3em;
}

.logo {
  margin-bottom: 0px;
}

main img {
  float:left;
  width: 35%;
  margin-right: 2em;
}

#futureUs img {
  float: right;
}

/********************************************************************************
*          Forms                                                                *
********************************************************************************/
fieldset {
  margin-top: 5em;
  display: inline-block;
  background-color: #BB7B28;
  border: 3px solid black;
  border-radius: 30px;
  margin-bottom: 30px;
}

legend {
  font-size: 1.5em;
  background-color: #FC8B8B;
  border-radius: 25px;
  padding: .5em .5em .5em .5em;
}

button {
  background-color: #DDC79C;
  border-radius: 5px;
}

/********************************************************************************
*          StyleSheet                                                           *
********************************************************************************/
#stylesheet {
  text-align: center;
  background-color: white;
}

#styleTable {
  margin :auto;
}

#palette> div {
  display: inline-block;
  margin: 2em 2em 2em 2em;
}

#headingRow {
  background-color: #FC8B8B; 
}

#color1 {
  background-color: #DDC79C;
  border-radius: 6em;
  padding: 5em 3.5em 5em 3.5em;
  border: solid black 1px;
  
}
#color2 {
  background-color: #BB7B28;
  border-radius: 6em;
  padding: 5em 3.5em 5em 3.5em;
  border: solid black 1px;
}
#color3 {
  background-color: #FC8B8B;
  border-radius: 6em;
  padding: 5em 3.5em 5em 3.5em;
  border: solid black 1px;
}
#color4 {
  background-color: #FCC0C0;
  border-radius: 6em;
  padding: 5em 3.5em 5em 3.5em;
  border: solid black 1px;
}
#color5 {
  background-color: #FBFBFB;
  border-radius: 6em;
  padding: 5em 3.5em 5em 3.5em;
  border: solid black 1px;}