body {
  background-color: #D0C9C2;
  margin: 0;
}

li{
  font-family: Arial, Helvetica, sans-serif;
}

h1 h2 p {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  text-align: center;
}

header {
  background-color:white;
  margin: 0px;
  margin: auto;
  text-align: center;
}

table {
  border: 3px solid black;
}

td th {
  border: 1px solid black;
}

.navbar {
  background-color: #C6915D;
}

.navbar>li {
  display: inline;
  list-style-type: none;
  font-family: 'Oswald', sans-serif;
  font-size: 1.5em;
  margin: 0em 1.5em 0em 1.5em;
}

.main {
  max-width: 960px;
  margin-left: 15%;
  margin-right: 15%;
}

#salmonCookieStands th {
  background-color: #A46845;
  color:white;
  border: 1px solid black;
}

/* Images */

.salmon {
  float:left;
  max-height: 1.5em;
}

.logo {
  margin-bottom: 0px;
}